@font-face 
{
    font-family: abel;
    src: url(Abel-Regular.ttf);
}

body
{
    background-color: black;
    text-align: center;
}

.queueElement
{
    margin: auto;
    color: white;
    text-align: center;
    border: 1px solid white;
    width: 200px;
}

.matrixInput
{
    background-color: black;
    color: white;
    text-align: center;
    width: 75px;
    padding: 10px;
}

#transformationFormInner
{
    display: inline-block;
    border: 1px solid white;
    margin: 10px;
}




